---
const pageTitle = "お知らせ一覧";
import Layout from "../../layouts/Layout.astro";
import { siteUpdates } from "../../data/update";
const updates = [...siteUpdates].sort((a, b) => b.date.localeCompare(a.date));
---

<Layout pageTitle={pageTitle}>
<main class="w-full max-w-6xl bg-[#1e1e1e] pb-[60px] px-16 border-l-[1px] border-[#3c3c3c]">
    <h1>お知らせ一覧</h1>
    <p class="mb-4">最新のお知らせ一覧です。</p>
    <ul class="my-1 list-disc list-inside">
    {updates.map((update) => (
      <li class="my-1">
        <time class="orange" datetime={update.date}>{update.date}</time>
        {' : '}
        <a href={`/updates/${update.slug}`} class="text-[#c9c9c9] hover:underline hover:underline-offset-4">
          {update.title}
        </a>
      </li>
    ))}
  </ul>
</main>
</Layout>
