---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "ナオのブログ";
const pubDate = "2025-12-01";
const modDate = "2025-12-10";
const image = {
    url: '/images/blog2.webp',
    alt: 'ブログのイメージ画像',
};
const description = "こちらは、ナオの考えをまとめた専用ブログです。思い浮かんだことを自由に書いていきます。";
---

<PageLayout pageTitle={pageTitle} pubDate={pubDate} modDate={modDate} image={image} description={description}>
<h2>概要</h2>
<p>こちらは、ナオの考えをまとめた専用ブログです。<br>
思い浮かんだことを自由に書いていきます。</p>
<h2>記事</h2>
<h3>心理学</h3>
<span>タグ：<a href="/tags/心理学" class="link">心理学</a></span>
<ul class="menu-list">
<li><a href="/blog/psychology-ep1">自信満々で言われたことを正しいと思ってしまうあの現象</a></li>
</ul>
<h3>人間関係</h3>
<span>タグ：<a href="/tags/人間関係" class="link">人間関係</a></span>
<ul class="menu-list">
<li><a href="/blog/human-ep1">キミに代わる人はどこにもいない</a></li>
<li><a href="/blog/human-ep2">「完璧な人間なんていない」10年前の彼女の言葉が私の信条となった話</a></li>
</ul>
<h3>その他</h3>
<span>タグ：<a href="/tags/その他" class="link">その他</a></span>
<ul class="menu-list">
<li><a href="/blog/etc-ep1">なんと、この度、当サイトの名刺を作ってくださった方がいました。</a></li>
</ul>
</PageLayout>
