---
const pageTitle = "NAOMINA121";
import Layout from "../layouts/Layout.astro";
import { siteUpdates } from "../data/update";
---

<Layout pageTitle={pageTitle}>
<main class="w-full max-w-6xl bg-[#1e1e1e] pb-[60px] px-16 border-l-[1px] border-[#3c3c3c]">
<img class="profile-picture max-w-full h-auto" src="/images/nao2.jpg" alt="Nobody Is Perfect" />
<h2>はじめに</h2>
<p>このサイトは、<a href="/profile/about" class="link">ナオ</a>が運営するナオの公式サイトです。</p>
<h2>発信コンテンツ</h2>

<p>サイト内にあるコンテンツについて紹介していきます。</p>

<table class="m">
<thead>
<tr>
<th>項目</th>
<th>説明</th>
</tr>
</thead>
<tbody>
<tr>
<td>プロフィール</td>
<td>ナオの基本情報です</td>
</tr>
<tr>
<td>メンタルヘルス</td>
<td>ナオがまとめたメンタルヘルスに関する情報を載せています。</td>
</tr>
<tr>
<td>情報リテラシー</td>
<td>ナオがまとめた情報リテラシーに関する情報を載せています。</td>
</tr>
<tr>
<td>ナオのブログ</td>
<td>ナオのブログです。</td>
</tr>
<tr>
<td>ナオの音声ブログ</td>
<td>ナオの音声配信用のブログです。</td>
</tr>
<tr>
<td>ナオの活動拠点</td>
<td>外部サイトのナオコンテンツです。</td>
</tr>
</tbody>
</table>

<h2>お知らせ</h2>
<p></p>
<div class="box">
<h3 style="font-size:18px; border-bottom:1px solid #727272; margin:0 0 10px 0px; padding: 0px 0px 10px;">📰更新履歴</h3>
<p>無理ないの更新頻度を目指しているため、記事の更新ペースは、<u class="orange">週に一回の頻度</u>を目指しています。</p>
<p>記事の内容に関して、ご質問やご意見がございましたら、<a href="/contact/" class="link">お問い合わせページ</a>からご連絡ください。</p>
<ul style="margin-top:10px; font-weight:600; border-top:1px solid #727272; padding-top:10px;">
{siteUpdates.map((update) => (
    <li key={update.date}><time class="text-sm orange" dateTime={update.date}>{update.date}</time> : <span>{update.content}</span></li>
))}
</ul>
</div>

<h2>応援したいなと思った時に</h2>

<p>ナオの応援はナオが喜びます！</p>

<div class="coffe">
<a href="https://buymeacoffee.com/naomina121" class="button">☕ コーヒーで応援する</a>
</div>
</main>
</Layout>
