---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "ナオの音声ブログ";
const pubDate = "2025-12-01";
const modDate = "2025-12-22";
const image = {
    url: '/images/obsiedian_onsei.jpg',
    alt: 'ポッドキャストのイメージ画像',
};
const description = "ナオの音声ブログ（ポッドキャスト）ページです。チャプター付きの文字起こしも提供しています。";
---

<PageLayout pageTitle={pageTitle} pubDate={pubDate} modDate={modDate} image={image} description={description}>
<h2>概要</h2>
<p>私の趣味で作られたYoutubeのポッドキャスト動画を埋め込んだ個別のページです。</p>
<p><u class="orange">聴覚障害者向けに、音声ブログでは、チャプター付きの文字起こしを提供しています。</u></p>
<h2>配信エピソード</h2>

<p>音声配信エピソードに関しては、徐々に更新頻度を上げていく予定ですが、現在は他のブログ記事を充実することを優先しているため、優先頻度は低いです。</p>

<h3>思い浮かんだことを話してみる企画</h3>
タグ：<a href="/tags/雑記" class="link">雑記</a>
<ol class="menu-list">
<li><a href="/podcast/ep1">ナオのポッドキャストのルール</a></li>
<li><a href="/podcast/ep2">ナオという生物をナオが語ってみる</a></li>
<li><a href="/podcast/ep3">【※これは妄想です】ブログ×音声配信で最強の集客導線を作ってみた話（※まだ何も始まってません）</a></li>
<li><a href="/podcast/ep4">どうせ、君は魅力的だからうまくいく</a></li>
<li><a href="/podcast/ep5">全部覚えようとしてない？ 情報過多の時代に“忘れる技術”を</a></li>
<li><a href="/podcast/ep6">ナオの弱み暴露します！ 〜完璧主義のルーツとSNS疲れ〜</a></li>
</ol>
</PageLayout>
